<section class="inner">
	<h2 class="section-ttl">予約履歴詳細</h2>
	<table class="reservation_info mb3 has_border">
		<caption class="fz18 text-left">予約情報</caption>
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>予約日時</td>
				<td><%= @reservation.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
			</tr>
			<tr>
				<td>購入者</td>
				<td><%= link_to @customer.full_name, admin_customer_path(@customer), class: "underline" %></td>
			</tr>
		</tbody>
	</table>
	<div class="flex">
		<table class="admin_reservation mr2 has_border">
			<caption class="fz18 text-left">予約内容</caption>
			<thead>
				<tr>
					<th>メニュー名</th>
					<th>価格(税込)</th>
					<th>コース</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @reservations.each do |reservation| %>
					<% menu = reservation.menu %>
					<tr>
						<td><%= link_to menu.name, admin_menu_path(menu) %></td>
						<td class="text-center"><%= reservation.menu.name %></td>
						<td class="text-center"><%= reservation.price %>円</td>
						<td class="text-center"><%= reservation.course %></td>
						<td>
							<%= form_with(model: reservation, url: do |f| %>
								<%= f.submit "更新", class: "btn btn-primary" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

</section>