<div class="container">
	<h2 class="title text-center pb-5"><%= @photo.name %>の編集</h2>
  <%= form_with model: @photo, url: admin_photo_path do |f| %>

	<div class="title">
		<div class="row justify-content-center mb-5">
			  <%= f.label :image, "画像" %>
			<div class="image_field">
				<%= f.file_field :image %>
			</div>
		</div>
		<table class="row justify-content-center mb-5">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :name, "フォト名" %></td>
					<td><%= f.text_field :name, class: "form-control", size: "30" %></td>
				</tr>
			</tbody>
		</table>
		<div class="row justify-content-center">
			<%= f.submit '変更', class: "btn btn-primary btn-lg btn-block col-3" %>
		</div>
	</div>
<% end %>
</div>