<div class="container">
	<h2 class="title text-center pb-5">Photo 新規登録</h2>

		<%= form_with model: @photo, url: admin_photos_path do |f| %>

			<div class="title">
				<table class="row justify-content-center mb-5">
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= f.label :image, "画像" %></td>
							<td>
						      <%= image_tag (@photo.image.attached? ? photo.image : 'no-image.png'), id: "img_prev", class: "admin_photo_image" %>
						      <span class="btn btn-file btn-info"><%= f.file_field :image,  accept:'image/*' %>画像選択</span>
				          <p>選択するとプレビューされます。<br>画像未選択のままだと、<br>「画像準備中」になります。</p>
							</td>
						</tr>
						<tr>
							<td><%= f.label :name, "フォト名" %></td>
							<td><%= f.text_field :name, class: "form-control" %></td>
						</tr>
					</tbody>
				</table>

				<div class="row justify-content-center">
					<%= f.submit '登録', class: "btn btn-primary btn-lg d-block col-3" %>
				</div>
			</div>
		<% end %>
</div>