<%= form_with model: @photo, url: admin_photos_path do |f| %>

	<div class="flex">
		<div>
			  <%= f.label :image, "画像" %>
			<div class="image_field">
				<%= f.file_field :image %>
			</div>
		</div>
		<table class="admin_photo_info phot_form">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :name, "フォト名" %></td>
					<td><%= f.text_field :name %></td>
				</tr>
			</tbody>
		</table>
		<div class="flex align-center pl5">
			<%= f.submit '登録', class: "btn btn-primary" %>
		</div>
	</div>
<% end %>