<section class="inner">
	<h2 class="section-ttl">フォト新規登録</h2>

		<%= form_with model: @photo, url: admin_photos_path do |f| %>

			<div class="flex">
				<div>
					  <%= f.label :image, "画像" %>
					<div class="image_field">
						<%= image_tag (@photo.image.attached? ? photo.image : 'no-image.png'), id: "img_prev", class: "admin_photo_image" %>
						<span class="btn btn-file btn-info"><%= f.file_field :image,  accept:'image/*' %>画像選択</span>
				    <p>選択するとプレビューされます。<br>画像未選択のままだと、<br>「画像準備中」になります。</p>
					</div>
				</div>
				<table class="admin_photo_info phot_form">
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= f.label :name, "フォト名" %></td>
							<td><%= f.text_field :name %></td>
						</tr>
					</tbody>
				</table>
				<div class="flex align-center pl5">
					<%= f.submit '登録', class: "btn btn-primary" %>
				</div>
			</div>
		<% end %>
</section>