<div class="container">
	<h2 class="title text-center pb-5"><%= @customer.last_name %> <%= @customer.first_name %> さんの会員情報編集</h2>
	<%= form_with model:@customer, url: admin_customer_path(@customer) do |f| %>

		<div class="row justify-content-center pb-3">
			<div class="col-2 col-form-label">名前</div>
			<div class="col-3"><%= f.text_field :last_name, :placeholder =>"#{@customer.last_name}", class: "form-control" %></div>
			<div class="col-3"><%= f.text_field :first_name, :placeholder =>"#{@customer.first_name}", class: "form-control" %></div>
		</div>

		<div class="row justify-content-center pb-3">
			<div class="col-2 col-form-label">フリガナ</div>
			<div class="col-3"><%= f.text_field :last_name_kana, :placeholder =>"#{@customer.last_name_kana}", class: "form-control" %></div>
			<div class="col-3"><%= f.text_field :first_name_kana, :placeholder =>"#{@customer.first_name_kana}", class: "form-control" %></div>
		</div>

		<div class="row justify-content-center pb-3">
			<div class="col-2 col-form-label">メールアドレス</div>
			<div class="col-6"><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@customer.email}", class: "form-control" %></div>
		</div>

		<div class="row justify-content-center pb-3">
			<div class="col-2 col-form-label">会員ステータス</div>
			<div class="col-3"><%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "有効", class: "text-active" %></div>
			<div class="col-3"><%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "退会済み", class: "text-invalid" %></div>
		</div>

		<div class="row justify-content-center">
			<div class="col-8"><%= f.submit "更新", class: "btn btn-primary btn-lg btn-block" %></div>
		</div>
	<% end %>
</div>