<div class="container title">
	<h2 class="text-center">Menu & Price</h2>

	<div class="row justify-content-center">

		<div class="menu">
			<p class="menuTit">
				<span class="eng">Hand Gel</span>
			</p>
			<ul>
		  <% @menus.each do |menu| %>
			  <li>
			  	<div class="detail">
			  		<%= link_to menu.name, menu_path(menu) %>
	  		    <div class="introduction">
	  		      <p><%= menu.introduction %></p>
	  	      </div>
			  	</div>

			  	<div class="course">
			  		<p><%= menu.course_i18n %></p>
			  	</div>

			  	<div class="price">
			  		<p><%= menu.with_tax_price.to_s(:delimited) %>円</p>
			  	</div>
			  </li>
		  <% end %>
		  </ul>
		</div>
	</div>
	<%= paginate @menus %>
</div>