<div class="container">
	<h2 class="title text-center">Menu & Price</h2>

	<div class="row justify-content-center title">

		<div class="menu">
			<p class="menuTit">
				<span class="eng">Hand Gel</span>
			</p>
			<ul>
		  <% @menus.each do |menu| %>
			<!--<%#= link_to menu_path(menu) do %>-->
			<!--  <%#= image_tag menu.get_image, size: "100x100", format: "jpeg", fallback: "no-image.png" %>-->
			<!--<%# end %>-->
			  <li>
			  	<div class="detail">
			  		<%= link_to menu_path(menu) do %>
			  		<p><%= menu.name %>
			  		   <div class="introduction">
			  		     <p><%= menu.introduction %></p>
			  	     </div>
			  		</p>
			  		<% end %>
			  	</div>

			  	<div class="course">
			  		<p><%= menu.course %></p>
			  	</div>

			  	<div class="price">
			  		<p><%= menu.with_tax_price.to_s(:delimited) %>円</p>
			  	</div>
			  </li>
		  <% end %>
		  </ul>
		</div>
	</div>
	<%= paginate @menus %>
</div>