<div class="container">
	<h2 class="title text-center"><%= @menus.name %></h2>
  <div class="row">
		<div class="menu">
			<ul>
			  <li>
			  	<div class="introduction">
			  		<p><%= @menus.introduction %></p>
			  	</div>

			  	<div class="course">
			  		<p><%= @menus.course %></p>
			  	</div>

			  	<div class="price">
			  		<p><%= @menus.with_tax_price %>円</p>
			  	</div>
			  </li>
		  </ul>
		</div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="title text-center">予約画面</h2>
      <p>3ヶ月先まで予約することができます。</p>
    </div>
    <div class="col-12 mt-3">
      <%= week_calendar events: @reservations do |date, reservations| %>
        <%= date.day %>
      <% end %>
    </div>
  </div>
</div>

