<div class="container">
	<h2 class="title text-center pb-3"><%= @menu.name %>の編集</h2>
  <%= form_with model: @menu, url: admin_menu_path do |f| %>

	<div class="title">
		<!--<div class="row justify-content-center mb-3">-->
		<!--	  <%#= f.label :image, "画像" %>-->
		<!--	<div class="image_field">-->
		<!--		<%#= f.file_field :image %>-->
		<!--	</div>-->
		<!--</div>-->
		<table class="row justify-content-center mb-5">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :name, "メニュー名" %></td>
					<td><%= f.text_field :name, class: "form-control mb-3", size: "50" %></td>
				</tr>
				<tr>
					<td><%= f.label :introduction, "メニュー説明" %></td>
					<td><%= f.text_area :introduction, rows: 3, class: "form-control mb-3" %></td>
				</tr>
				<tr>
					<td><%= f.label :price, "税抜価格" %></td>
					<td><%= f.number_field :price, class: "form-control mb-3" %></td>
				</tr>
				<tr>
					<td><%= f.label :course, "コース" %></td>
					<td><%= f.select :course, Menu.courses.keys.map { |k| [I18n.t("enums.menu.course.#{k}"), k] }, { include_blank: "指定なし" }, class: 'form-control' %></td>
				</tr>
			</tbody>
		</table>
		<div class="row justify-content-center">
			<%= f.submit '変更', class: "btn btn-primary btn-lg btn-block col-6 mb-3" %>
		</div>
		<div class="row justify-content-center">
			<%= link_to "削除する", admin_menu_path(@menu.id), method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる", title: "ご確認ください" }, class: "btn btn-danger btn-lg btn-block col-6" %>
		</div>

	</div>
<% end %>
</div>