<div class="container">
	<h2 class="title text-center pb-3">Menu</h2>
	<div class="row title">

		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>メニューID</th>
					<th>メニュー名</th>
					<th>メニュー説明文</th>
					<th>コース</th>
					<th>税込価格</th>
				</tr>
			</thead>
			<tbody>
				<% @menus.each do |menu| %>
					<tr>
						<td class="text-center"><%= menu.id %></td>
						<td><%= link_to menu.name, admin_menu_path(menu) %></td>
						<td><%= menu.introduction %></td>
						<td><%= menu.course_i18n %></td>
						<td class="text-center"><%= menu.with_tax_price.to_s(:delimited) %>円</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate @menus %>
	</div>
</div>