<div class="container">

	<h2 class="title text-center pb-5">Menu 新規登録</h2>

　<%= form_with model: @menu, url: admin_menus_path do |f| %>

	<div class="title">
		<table class="row justify-content-center mb-5 title">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :name, "メニュー名" %></td>
					<td><%= f.text_field :name, class: "form-control mb-3", size: "50" %></td>
				</tr>
				<tr>
					<td><%= f.label :introduction, "メニュー説明" %></td>
					<td><%= f.text_area :introduction, rows: 3, class: "form-control mb-3" %></td>
				</tr>
				<tr>
					<td><%= f.label :price, "税抜価格" %></td>
					<td><%= f.number_field :price, class: "form-control mb-3" %></td>
				</tr>
				<tr>
					<td><%= f.label :course, "コース" %></td>
					<!--<td><#%= f.select :course, [['60',1], ['90',2], ['120',3]], {}, {class: 'form-control'} %></td>-->
					<td><%= f.select :course, Menu.courses.keys.map { |k| [I18n.t("enum.menu.course.#{k}"), k] }, { include_blank: "指定なし" }, class: 'form-control' %></td>
				</tr>
			</tbody>
		</table>
		<div class="row justify-content-center">
			<%= f.submit '登録', class: "btn btn-primary btn-lg d-block col-3" %>
		</div>
	</div>
　<% end %>
</div>