<div class="container">
	<h2>メニュー詳細</h2>
	<div class="flex">
		<div>
			<div class="image_field">
				<%= image_tag @menu.get_image, size: "200x200", class: "admin_menu_image" %>
			</div>
		</div>
		<table class="admin_menu_info">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>メニュー名</td>
					<td><%= @menu.name %></td>
				</tr>
				<tr>
					<td>メニュー説明</td>
					<td><%= @menu.introduction %></td>
				</tr>
				<tr>
					<td>税抜価格</td>
					<td><%= @menu.price %>円</td>
				</tr>
				<tr>
					<td>コース</td>
					<td><%= @menu.course %></td>
				</tr>
			</tbody>
		</table>
		<div class="flex align-center pl5">
			<%= link_to "編集する", edit_admin_menu_path(@menu), class: "btn btn-success" %>
		</div>
	</div>
</div>