<!DOCTYPE html>
<html>
  <head>
    <title>Nail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body-<%=@top%>">
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light p-4">
        <div class="container">
          <a class="navbar-brand" href="/">NAIL CHUPINET</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          　<div class="collapse navbar-collapse" id="navbarNavDropdown">
            　<ul class="navbar-nav ml-auto">

              <% if admin_signed_in? %>
                <li>
                  <%= link_to "会員一覧", admin_customers_path %>
                </li>
                <li>
                  <%= link_to "フォト新規登録", new_admin_photo_path %>
                </li>
                <li>
                  <%= link_to "フォト一覧", admin_photos_path %>
                </li>
                <li>
                  <%= link_to "メニュー新規登録", new_admin_menu_path %>
                </li>
                <li>
                  <%= link_to "メニュー一覧", admin_menus_path %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
              <% elsif customer_signed_in? %>
                <li class="ml-4">
                  <%= link_to "photo", photos_path %>
                </li>
                <li class="ml-4">
                  <%= link_to "menu", menus_path %>
                </li>
                <li class="ml-4">
                  <%= link_to "mypage", my_page_path(current_customer) %>
                </li>
                <li class="ml-4">
                  <%= link_to "logout", destroy_customer_session_path, method: :delete %>
                </li>
              <% else %>
                <li class="ml-4">
                  <%= link_to "新規登録", new_customer_registration_path %>
                </li>
                <li class="ml-4">
                  <%= link_to "ログイン", new_customer_session_path %>
                </li>
              <% end %>
        　     </ul>
            </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>© NAIL CHUPINET Inc.</footer>

  </body>
</html>
